@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-8">
        <img src="~/Content/images/HJ_BIBL_150527-529_guide.jpg" class="img-responsive center-block" />
    </div>

    <div class="col-md-4">

        <address>
            Jönköping University<br />
            Gjuterigatan 5<br />
            Box 1026<br />
            551 11 Jönköping, Sweden
        </address>

        <address>
            <strong>Support:</strong>
            <a href="mailto:yaat163a@student.ju.se">yaat163a@student.ju.se</a>
        </address>

    </div>
</div>








