@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    The university library is the most important information resource for scientific research and higher education at Jönköping University.
</p>
<p>
    The library offers collections of high quality in printed and electronic form and information services available on location as well as over the Internet.
</p>
